# For Vim users:
*.swp

# rdf-server/Makefile creates local backups copies of the server's .htaccess file:
rdf-server/*.backup

# data/co-ops-uk/2015-06/Makefile creates a directory for output:
data/co-ops-uk/2015-06/generated-data

# This is the taraget directory for the application build:
map-app/www-built

