# For Vim users:
*.swp

# General:
*.zip

# Convention for old files held temporarily in local filesystem:
*.old
junk

# rdf-server/Makefile creates local backups copies of the server's .htaccess file:
rdf-server/*.backup

# data/co-ops-uk/2015-06/Makefile creates a directory for output:
data/co-ops-uk/2015-06/generated-data

# data/co-ops-uk/2016-06/Makefile creates a directory for output:
data/co-ops-uk/2016-06/generated-data
# data/co-ops-uk/2016-06/generate-triples.rb creates some reports:
data/co-ops-uk/2016-06/duplicates.html
data/co-ops-uk/2016-06/websites.html

# data/co-ops-uk/2016-06/generate-triples.rb creates JSON of initiatives, as temporary measure until SPARQL is in place to return these results:
data/co-ops-uk/2016-06/initiatives.json
data/co-ops-uk/2016-06/postcode_lat_lng.json

# This is the taraget directory for the application build:
map-app/www-built

# vocab/generate-vocab.rb creates an output directory:
vocab/generated-vocab

# Mac OS/X cruft:
.DS_Store
