/*
*/
body {
    padding: 0;
    margin: 0;
}
/* Settings from https://leafletjs.com/examples/mobile/
 * where they also say something about % and vh, and a bug in Chrome!
 */
html, body {
    height: 100%;
    width: 100vw;
}
.content, #map {
    height: 100%;
    width: 100%;
}
.display-container {
	z-index: 30;
	/*pointer-events: none;*/
}
.menu-button, .search-form {
	/*pointer-events: initial;*/
}
/* @todo - can we avoid all this messing around with z-index, once the protecting vail has been removed?
 * It seems that leaflet uses z-index, as does w3.css. So we're having to weave a course between the two.
 */ 
.sidebar, .w3-sidebar, .w3-modal {
	z-index: 40;
}

.main-btn {
	height: 40px;
	width: 100%;
	background-color: #29506D;
	color: #718EA4;
	font-size: 100%;	/* CSS mystery: why is this necesary? Without it, font size is small. */
	border: 1px solid #042037;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.main-btn:hover {
	background-color: #123652;
}
/* :active must come after :hover (ffs) */
.main-btn:active {
	background-color: #718EA4;
	color: #29506D;
}
div.leaflet-popup-content {
	/* NB also requires setting maxWidth in leaflet Marker bindpopup, to make popup wide enough for big text */
	/* 200% works well for presentations: */
	/*font-size: 200%; */
}
