body {
margin: 0;
/*-webkit-text-size-adjust: 100%; */
}

div.protectingVeil
{
	/* This code was taken from http://stackoverflow.com/a/159962/685715 */
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
	z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
	/* The display property will be set from within the javascript to control the showinghiding of the protectingVeil: */
	display: none;
}
div.mapContainer {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;	/* lower than z-index of protectingVeil. */
}
div.protectingVeilMessageContainer {
	position:relative;
	height: 100%;
}
div.protectingVeilMessageContainer p {
	/* Code to centre text taken from https://www.w3.org/Style/Examples/007/center.en.html */
	margin: 0;
	font-size: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
div.buttonBox {
	top: 0px;
	right: 0px;
	width: 100px;
	margin: 0;
	position:absolute;
	z-index: 30;
}
.main-btn {
	height: 40px;
	width: 100%;
	background-color: #29506D;
	color: #718EA4;
	font-size: 100%;	/* CSS mystery: why is this necesary? Without it, font size is small. */
	border: 1px solid #042037;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.main-btn:hover {
	background-color: #123652;
}
/* :active must come after :hover (ffs) */
.main-btn:active {
	background-color: #718EA4;
	color: #29506D;
}
