/*
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
*/

/* The classes left, right, col, row, header and footer are taken from 
/* http://stevesanderson.github.io/fixed-height-layouts-demo/two-columns.html, 
 * and an example from the article:
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
 */
/* Pane configuration */

/* Left col has width 100px: */
.left.col { width: 100px; }
.right.col { left: 100px; right: 0; }

/* Set height of header row (both height and line-height should be the same): */
.header.row { height: 0; line-height: 0; }

/* body: top should match header row height, bottom should match footer row height: */
.body.row { top: 0; bottom: 0; }

/* Set height of footer row (both height and line-height should be the same): */
.footer.row { height: 0; bottom: 0; line-height: 0; }

/*
 * This is a configuration to make the header, footer and left col visible:
.left.col { width: 350px; }
.right.col { left: 350px; right: 0; }
.header.row { height: 35px; line-height: 35px; }
.body.row { top: 35px; bottom: 25px; }
.footer.row { height: 25px; bottom: 0; line-height: 25px; }
*/

/* Palette URL: http://paletton.com/#uid=13x0u0kllllaFw0g0qFqFg0w0aF */

/* As hex codes */

.color-primary-0 { color: #29506D }	/* Main Primary color */
.color-primary-1 { color: #718EA4 }
.color-primary-2 { color: #496D89 }
.color-primary-3 { color: #123652 }
.color-primary-4 { color: #042037 }

/* As RGBa codes */

.rgba-primary-0 { color: rgba( 41, 80,109,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(113,142,164,1) }
.rgba-primary-2 { color: rgba( 73,109,137,1) }
.rgba-primary-3 { color: rgba( 18, 54, 82,1) }
.rgba-primary-4 { color: rgba(  4, 32, 55,1) }

div.protectingVeil
{
	/* This code was taken from http://stackoverflow.com/a/159962/685715 */
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
	z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
	/* The display property will be set from within the javascript to control the showinghiding of the protectingVeil: */
	display: none;
}
div#map {
	z-index: 10;	/* lower than z-index of protectingVeil. */
}
div.protectingVeilMessageContainer {
	position:relative;
	height: 100%;
}
div.protectingVeilMessageContainer p {
	/* Code taken from https://www.w3.org/Style/Examples/007/center.en.html */
	margin: 0;
	font-size: 250%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.main-btn {
	height: 40px;
	width: 100%;
	background-color: #29506D;
	color: #718EA4;
	border: 1px solid #042037;
	padding: 4px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.main-btn:hover {
	background-color: #123652;
}
/* :active must come after :hover (ffs) */
.main-btn:active {
	background-color: #718EA4;
	color: #29506D;
}
#tabs-control { position: absolute; left:0; right: 0; top: 0; height: 50px; line-height:50px;}
#tabs-content { position: absolute; left:0; right: 0; top: 50px; bottom: 0; }
.tab-content { position: absolute; left:0; right: 0; top: 0; display: none; }
.tab-content.selected { display: block; }

/* CSS for tabs copied from https://css-tricks.com/better-tabs-with-round-out-borders/
 */
.tabrow {
	text-align: center;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
}
.tabrow li {
	margin: 0 10px;
	padding: 0 10px;
	border: 1px solid #AAA;
	background: #ECECEC;
	display: inline-block;
	cursor: pointer;
}
.tabrow li.selected {
  background: #FFF;
  color: #000;
}

/* There are some style 'options' that can be set within leaflet. See http://leafletjs.com/reference.html#path-options
 * However, the correspondence between those and the CSS properties required here is unclear!
 * Bare in mind that these are SVG styles. Perhaps look at the SVG spec? https://www.w3.org/TR/SVG/propidx.html
 */
tr.selected {
	background-color: #EE2100;
}
tr.hovered {
	background-color: #20EE00;
}
tr.selected.hovered {
	background-color: #0040EE;
}

#menubar {
	/* Without 'overflow: visible', the dropdown menus are clipped inside the menubar: */
	overflow: visible;
}
/* CSS for dropdown menus taken from http://www.w3schools.com/howto/howto_css_dropdown.asp */
/* The dropdown menus are created in view/menu.js and presenter/menu.js */
/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	z-index: 10;	/* Put it on top of other content. */
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
