/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v13/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v13/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.main{
	background-color: #0bb696;
}

.content{
	width:90%;
	padding:25px;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #ffffff;
	border-radius: 25px;
}

#title{
	color: black;
	text-align: center;
	font-size:40px;
	padding:20px;
	width: 80%;
	margin: auto;
}

.progress-container{
	color:#000;
	background-color:#f0f0f0;
	border-radius: 16px;
	width: 90%;
}

.progress{
	padding:10px;
	color:#fff;background-color:#fb8b24;
	text-align:center;
	border-radius: 16px;
}

th, td {
    border-bottom: 1px solid #ddd; 
    text-align: left; 
    padding: 5px;
}

th {
	font-size: 20px;
	font-weight: 600;
}

table {
	width:100%;
	font-size: 14px;
}

#login-header{
	background: black;
	color: #bad6d1;
	padding: 20px;
}

body{
	font-family: "Lato", sans-serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
}

input[type=text], input[type=password], input[type=select] input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

select {
    width: 100%;
    padding: 16px 20px;
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    margin:8px 0;
    background-color: none;
}

textarea:focus, input:focus, select:focus{
	border: 2px solid #fb8b24;
	outline: none;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

.button {
    background-color: #0bb696;
    border: 2px solid #0bb696;
    box-sizing: border-box;
    color: white;
    margin:8px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover{
	background-color: white;
    color: black;
    border: 2px solid #0bb696;
}

.submit{
	background-color: #fb8b24;
    border: 2px solid #fb8b24;
    box-sizing: border-box;
    color: white;
    margin:8px 0;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.submit:hover{
	background-color: white;
    color: black;
    border: 2px solid #fb8b24;
}

#splash{
	width: 200px;
	height: 200px;
	display: block;
	margin: auto;
}

.centered {
    width:400px;
    height:600px;
 	position: fixed;
 	top: 50%;
 	left: 50%;
 	padding:20px;
 	margin-top: -300px;
	margin-left: -200px;
}
