/*
# Update: June 2016:
# This file is for processing the Co-ops UK open dataset dated 2015-06.
# There is now a new dataset dated 2016-06, and this file has been cloned into the directory for processing that new dataset.
# Given that, with the avaiability of the new dataset, we don't need to work further on the 2015 dataset, 
# this file should be regarded as OBSOLETE.
# All ongoing work will be carried out on the 2016 (and later) datasets.
# If there turns out to be a requirement to continue to work on the 2015 dataset in parallel with the new dataset, 
# then the source code could be restructured to factor out the code that is common to both datasets.
*/
body { 
  font-family: Avenir, Verdana, Arial, Helvetica, sans-serif;
  max-width: 1200px;
  margin: auto;
  background-color: #90C3D4;
}
pre {
  font-family: Monaco, "Courier New", Courier, monospace;
  max-width: 1000px;
  padding: 10px;
  overflow-x: auto;
  background-color: #C7F2E7;
}
tr:nth-child(even) {
  background: #C7F2E7;
}
tr:nth-child(odd) {
  background: #D8F2EB;
}
