body {
	margin: auto;
	margin-top:5%;
    width: 80%;
    font-family: arial, sans-serif;
    background-color: #edf0f4;
    line-height: 200%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
div.code {
	background-color: #cccccc;
}
pre {
	display: inline;
	line-height: 1.2em;
}
