:root {
  --teal: #0bb696;
  --pink: #d90368;
  --orange: #fb8b24;
  --red: #b60b0b;
  --blue: #0b77b6;
  --purple: #a20bb6;
  --yellow: #b6a50b;
  --dark-blue: #0b0eb6;
  --dark-green: #087917;
  --sky: #59f0f5;
  --brown: #b6330b;
  --grey: #8a8c8e;
  --dark: #363636;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --sidebar-width: 296px;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* .map-app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
} */

/* .sea-initiative-sidebar.sea-activity-am00,
.sea-activity-am00:hover,
.sea-activity-am00.sea-activity-active {
  background: var(--dark) !important;
}

.sea-initiative-sidebar.sea-activity-am10,
.sea-activity-am10:hover,
.sea-activity-am10.sea-activity-active {
  background: var(--pink) !important;
}

.sea-initiative-sidebar.sea-activity-am20,
.sea-activity-am20:hover,
.sea-activity-am20.sea-activity-active {
  background: var(--orange) !important;
  color: var(--dark) !important;
}

.sea-initiative-sidebar.sea-activity-am30,
.sea-activity-am30:hover,
.sea-activity-am30.sea-activity-active {
  background: var(--grey) !important;
}

.sea-initiative-sidebar.sea-activity-am40,
.sea-activity-am40:hover,
.sea-activity-am40.sea-activity-active {
  background: var(--teal) !important;
}

.sea-initiative-sidebar.sea-activity-am50,
.sea-activity-am50:hover,
.sea-activity-am50.sea-activity-active {
  background: var(--red) !important;
}

.sea-initiative-sidebar.sea-activity-am60,
.sea-activity-am60:hover,
.sea-activity-am60.sea-activity-active {
  background: var(--blue) !important;
}

.sea-initiative-sidebar.sea-activity-am70,
.sea-activity-am70:hover,
.sea-activity-am70.sea-activity-active {
  background: var(--purple) !important;
}

.sea-initiative-sidebar.sea-activity-am80,
.sea-activity-am80:hover,
.sea-activity-am80.sea-activity-active {
  background: var(--yellow) !important;
}

.sea-initiative-sidebar.sea-activity-am90,
.sea-activity-am90:hover,
.sea-activity-am90.sea-activity-active {
  background: var(--dark-blue) !important;
}

.sea-initiative-sidebar.sea-activity-am100,
.sea-activity-am100:hover,
.sea-activity-am100.sea-activity-active {
  background: var(--dark-green) !important;
}

.sea-initiative-sidebar.sea-activity-am110,
.sea-activity-am110:hover,
.sea-activity-am110.sea-activity-active {
  background: var(--sky) !important;
}

.sea-initiative-sidebar.sea-activity-am120,
.sea-activity-am120:hover,
.sea-activity-am120.sea-activity-active {
  background: var(--brown) !important;
} */

/* Sidebar */

.sea-sidebar {
  position: absolute;
  width: var(--sidebar-width);
  height: 100%;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.16s cubic-bezier(0.215, 0.61, 0.355, 1);
  font-family: var(--font-family-sans-serif);
  font-weight: 300;
  color: var(--dark);
  background: white;
}

.sea-sidebar-open {
  transform: translateX(0);
}

.sea-main-sidebar,
.sea-initiative-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sea-initiative-sidebar-content {
  /* background-color: var(--dark); */
  padding: 1.4em 0;
  overflow-y: auto;
}

.sea-sidebar-open.sea-sidebar-list-initiatives .sea-initiative-sidebar {
  transform: translateX(var(--sidebar-width));
}

.sea-initiative-sidebar {
  right: 0;
  background-color: var(--dark);
  color: white;
  transition: transform 0.16s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.sea-sidebar h1 {
  font-weight: 700;
  font-size: 1.6rem;
}

.sea-sidebar h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.sea-sidebar h3 {
  font-weight: 600;
  font-size: 1.2rem;
}

/* Map */

.map-app-content,
#map {
  height: 100%;
  width: 100%;
}
.map-app-content {
  /* The map, and some of its controls have an absolute position, relative to the
	 * map-app-content element.
	 * Without this, the absolute position of the map would be relative to the <body> of the document.
	 */
  position: relative;
  overflow: hidden;
}
.map-app-display-container {
  z-index: 30;
}
div.map-app-map-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.map-app-sidebar-button {
  position: absolute;
  left: 100%;
  z-index: -1;
  margin-top: 1em;
}

.map-app-sidebar-button button {
  padding: 0 0.45em;
  font-size: 2.4em;
  background-color: var(--teal);
  color: white;
  transition: all 0.16s;
  transform: translateX(-3px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.w3-btn:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateX(0px);
}

.map-app-sidebar-header {
  display: flex;
  justify-content: flex-start;
  background: white;
  color: var(--dark);
  font-size: 1.4em;
}

.w3-button:hover {
  color: white !important;
  background-color: var(--dark) !important;
}

.w3-btn:focus,
.w3-button:focus {
  outline: none;
}

.map-app-sidebar-fixed-section {
  background-color: white;
}

.map-app-sidebar-scrollable-section {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
}

.sea-directory-list,
.sea-initiative-list {
  list-style: none;
  font-size: 1.05em;
  padding: 0;
  margin: 0 0 1.6em;
}

.sea-initiative-list {
  margin: 0;
}

.sea-directory-list li,
.sea-initiative-list li {
  margin: 0;
  padding: 0.4em 1em 0.4em 1.5em;
}

.sea-directory-list li:hover,
.sea-activity-active {
  color: white;
  background-color: var(--dark);
  cursor: pointer;
}

.sea-initiative-list li:hover {
  color: var(--dark);
  background-color: white;
  cursor: pointer;
}

.sea-initiative-active {
  color: var(--dark);
  background-color: white;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.map-app-search-form {
  max-width: 500px;
  width: 50%;
}
/* @todo - can we avoid all this messing around with z-index, once the protecting vail has been removed?
 * It seems that leaflet uses z-index, as does w3.css. So we're having to weave a course between the two.
 */
.sea-sidebar,
.w3-modal {
  z-index: 40;
}

/* Popup */

div.leaflet-popup-content {
  /* NB also requires setting maxWidth in leaflet Marker bindpopup, to make popup wide enough for big text */
  /* 200% works well for presentations: */
  /*font-size: 200%; */
}

.sea-initiative-popup .leaflet-popup-content-wrapper {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 0;
}

.sea-initiative-popup .leaflet-popup-content {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.sea-initiative-popup .sea-initiative-details {
  max-height: 400px;
  width: 66%;
  overflow-y: auto;
  padding: 1em 1.5em;
  border-radius: 6px 0 0 6px;
  background: white;
}

.sea-initiative-popup .sea-initiative-contact {
  flex-grow: 1;
  padding: 1em 1.5em 1.5em;
  border-radius: 0 6px 6px 0;
  background: #f0f0f0;
}

.sea-initiative-popup h2,
.sea-initiative-popup h3,
.sea-initiative-popup h4,
.sea-initiative-popup p {
  font-family: var(--font-family-sans-serif);
  font-weight: 700;
  font-size: 1.3rem;
}

.sea-initiative-popup h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
}

.sea-initiative-popup p {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.sea-initiative-links a:link,
.sea-initiative-links a:visited,
.sea-initiative-links a:hover,
.sea-initiative-links a:active {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.2rem;
  padding-right: 0.5rem;
  margin-top: 0.7rem;
}
