:root {
  --sea-teal: #0bb696;
  --sea-pink: #d90368;
  --sea-orange: #fb8b24;
  --sea-grey: #8a8c8e;
  --sea-dark: #363636;
}

html,
body {
  height: 100%;
  /*width: 100vw;*/
}

body {
  padding: 0;
  margin: 0;
  background: var(--sea-teal);
  font-family: lato;
  color: var(--sea-dark);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: lato;
}

h1 {
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 900;
  letter-spacing: 0.075rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.heading h1,
.heading h2 {
  line-height: 1;
}

h2.title-caption {
  margin-bottom: 1em;
}

h3 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0 0 1.4rem;
}

.story h3 {
  flex-basis: 100%;
}

h4.caption {
  font-family: lato;
  /* text-transform: uppercase; */
  font-size: 1rem;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: var(--sea-grey);
}

.bold {
  font-weight: 700 !important;
}

.quote {
  /*font-weight: 400;*/
  font-style: italic;
  font-weight: 400;
}

.quote:before {
  content: "\201C";
}

.quote:after {
  content: "\201D";
}

.story {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.story-spotlight-container {
  width: 100%;
  background-color: var(--sea-teal);
  border-radius: 0 99rem 99rem;
  align-self: flex-end;
  position: relative;
  transition: background-color 0.25s;
}

.story-spotlight-container:hover {
  background-color: var(--sea-pink);
}

.story-spotlight-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.story-spotlight {
  position: absolute;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  border-radius: 99em;
  background-size: cover;
  background-position: center;
}

.story-spotlight.the-village {
  background-image: url(../resources/the-village.jpg);
}

.story-spotlight.agile-collective {
  background-image: url(../resources/agile-collective.jpg);
}

.story-spotlight.open-house {
  background-image: url(../resources/open-house.jpg);
}

.story-spotlight.flos {
  background-image: url(../resources/flos.jpg);
}

.story-spotlight.hand-me-on {
  background-image: url(../resources/hand-me-on.jpg);
}

p,
li {
  font-family: merriweather;
}

p.logotype,
p.tagline {
  font-family: lato;
}

a:active,
a:hover,
a:link,
a:visited {
  color: var(--sea-teal);
  /*text-decoration: none;*/
}

p.logotype a {
  color: #414141;
  text-decoration: none;
}

.footer a:active,
.footer a:hover,
.footer a:link,
.footer a:visited {
  color: white;
}

.heavy {
  font-weight: 900;
}

.thin {
  font-weight: 400;
}

.header {
  background: white;
}

.header-inner {
  max-width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.mobile-nav-container a {
  text-align: right !important;
}

.container {
  background: white;
}

.logotype {
  text-transform: uppercase;
  /*font-weight: 300;*/
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

.logotype span {
  font-weight: 900;
}

.divider {
  border-bottom: 1px solid rgba(60, 60, 60, 0.2);
}

.tagline {
  margin-top: -0.3rem;
  font-size: 1rem;
  /*font-weight: 300;*/
}

.tagline span {
  /*color: var(--sea-teal);	*/
}
/*
.navigation {
	font-size: 1.1rem;
	text-transform: uppercase;
}*/

.navigation .active {
  border-bottom: solid 1px var(--sea-teal);
  margin-bottom: -1px;
}

.mobile-nav {
  font-size: 1rem;
}

.navigation {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: uppercase;
}

.navigation a {
  color: #414141;
}

.hamburger {
  font-size: 1.7rem;
}

.intro-sidebar {
  padding: 1rem 1.5rem;
}

.intro-sidebar-container {
  width: 100%;
}

.map-image {
  max-width: 100%;
  width: 100%;
}

/*.intro {
	width: 80%;
	text-align: center;
	margin: 10rem auto 3rem;

}*/

.section-row {
  background: white;
}

.section-container {
  max-width: 100%;
  margin: 3rem auto;
  padding: 0 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

a.cta-btn {
  color: white;
  background: var(--sea-pink);
  padding: 1rem 3rem;
  margin: 1.5rem auto 0;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.25s;
  /*text-transform: uppercase;*/
  text-shadow: 0 1px 1px #900345;
}

a.cta-btn.secondary {
  background: var(--sea-teal);
  text-shadow: 0 1px 1px #016d59;
}

a.cta-btn.tertiary {
  background: var(--sea-orange);
  text-shadow: 0 1px 1px #b76501;
}

a.cta-btn:hover,
a.cta-btn.secondary:hover,
a.cta-btn.tertiary:hover {
  background: var(--sea-dark);
  text-shadow: 0 1px 1px black;
}

.intro {
  /*width: 80%;
	text-align: center;*/
}

.section h1,
.section p,
.section li {
  margin: 0;
}

.section h1,
.section h2 {
  text-align: left;
  font-size: 1.7rem;
  margin: 0.15rem 0 1.4rem;
}

.intro-sidebar p,
.section p,
.section li {
  font-size: 1rem;
  font-weight: 300;
}

.footer {
  text-align: center;
  background: var(--sea-teal);
  color: white;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.footer p {
  font-family: lato;
  margin: 0;
}

.section-body {
  width: 100%;
}

#site {
  height: 100%;
  width: 100%;
}
#map-box {
  display: flex;
  height: 100%;
  width: 100%;
}
#site-box {
  display: flex;
  flex-direction: row;

  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
  overflow: auto;
}
/* flexbox CSS taken from https://jsfiddle.net/MadLittleMods/LmYay/ */
.flexbox-column {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  /* Not sure if we need these: */
  justify-content: flex-start; /* align items in Main Axis */
  align-items: stretch; /* align items in Cross Axis */
  align-content: stretch; /* Extra space in Cross Axis */
}
.flexbox-item {
  /* Nothing here: The default behaviour seems to be fine :-) */
}
.flexbox-item-grow {
  flex: 1; /* same as flex: 1 1 auto; */
}

.hero {
  height: auto;
}

map-app {
  width: 100%;
  height: 100%;
}

.sea-map-embed {
  display: none;
}

.stories-container {
  display: flex;
  justify-content: end;
}

.stories-row {
  margin-left: auto;
}

.heading {
  display: flex;
  width: 100%;
}

.heading h1 {
  margin-left: auto;
}

.map-button {
  margin: 2rem;
}

@media (min-width: 610px) {
  .section h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .section-container {
    padding: 0 1rem;
    margin: 4.5rem auto;
  }

  a.cta-btn {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  .stories-row {
    margin-top: 3rem;
  }

  .story {
    height: 100%;
    margin-bottom: 0;
  }

  .intro-sidebar {
    padding: 1rem 2rem;
  }

  .intro-sidebar p,
  .section p,
  .section li {
    font-size: 1.2rem;
  }
}

@media (min-width: 972px) {
  .hero {
    display: flex;
  }

  .sea-map-embed {
    display: block;
  }

  .map-button {
    display: none;
  }

  .heading {
    display: block;
    width: auto;
  }

  .heading h1 {
    margin-left: 0;
  }

  .section h1,
  .section h2 {
    text-align: right;
  }

  .logotype {
    font-size: 2rem;
  }

  .tagline {
    margin-top: -0.5rem;
    font-size: 1.2rem;
    /*color: var(--sea-teal);*/
  }

  .section-container {
    justify-content: center;
  }

  .intro-sidebar-container {
    width: 24.99999%;
  }

  .section-body,
  .map-container {
    width: 74.99999%;
  }
}

@media (min-width: 1000px) {
  .header-inner {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .section-container {
    width: 90%;
    max-width: 1300px;
  }
}